.logo-size {
  width: 180px;
  height: 32px;
}

.head-size {
  width: 32px;
  height: 32px;
}

.cart-tag {
  width: 16px;
  height: 16px;
  line-height: 1.333;
}

.navbar-lg-search {
  width: 400px;
}
.navbar-animate {
  // z-index: 1000;

  animation: navbar-background-change forwards;
  animation-timeline: --page-scroll; /* 將動畫綁定到 --page-scroll 滾動時間軸 */
  animation-range: 0px 80px; /* 動畫由頂部 0px 往下滾動 80px 後完成 */
}

@keyframes navbar-background-change {
  from {
    /* 0% 狀態 */
    background-color: transparent;
  }
  to {
    /* 100% 狀態 */
    background-color: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(4px);
  }
}
