.logo-size {
  width: 180px;
  height: 32px;
}

.head-size {
  width: 32px;
  height: 32px;
}

.cart-tag {
  width: 16px;
  height: 16px;
  line-height: 1.333;
}

.navbar-lg-search {
  width: 400px;
}
